includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    paths:
        - app
    excludePaths:
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    level: 5
    ignoreErrors:
