// Tachyons
@import "~tachyons/css/tachyons.min";
@import "~highlight.js/styles/github";
@import "~highlight.js/styles/default";

.b--gray-monica {
  border-color: #dde2e9;
}

body {
  color: #293c45;
}

a {
  color: #0366d6;
}

.primary-button {
  background-color: #3cb371;
  border: 1px solid #3cb371;
  border-bottom-color: rgba(0,0,0,0.15);
  color: #fff;
  text-decoration: none;
  border-bottom-width: 2px;
  box-sizing: border-box;
}

.secondary-button {
  border-color: rgba(0,0,0,0.15);
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  text-decoration: none;
  color: #283c46;
  line-height: 1.5;
  white-space: normal;
  vertical-align: middle;
  transition: box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
  transition: all 0.2s;

  &:hover {
    background-color: #3cb371;
    border-color: #3cb371;
    border-bottom-color: rgba(0,0,0,0.15);
    color: #fff;
  }
}


.sketch-underline {
  background: url('/img/sketch_underline.svg') bottom left no-repeat;
  background-size: 100% 0.75rem;
  padding-bottom: 0.6rem;
}

.banner-officelife {
  background-color: #bee3f8;
}

article {
  line-height: 1.5;

  img {
    margin: 0 auto;
    padding: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #dde2e9;
  }
}

.markdown {
  line-height: 1.5;

  &.div-list p {
    margin: 0 0 4px;
    padding: 0;
  }

  p {

  }

  code {
    font-size: 13px;
  }

  h1 {
    margin-top: 0;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 0;
  }

  h2 {
    border-bottom: 1px solid #d9d9d9;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 30px;
    padding-bottom: 5px;
  }

  h3 {
    font-size: 16px;
    margin-top: 30px;
  }

  .url {
    background-color: #444;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-family: Source Code Pro,Courier New,Courier,monospace;
    font-size: 14px;
    margin: 10px 0;
    padding: 5px 10px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid rgba(0,0,0,.1);

    tbody tr:nth-child(odd) {
      background-color: #eee;
    }

    th, td {
      padding: .5rem 1rem;
    }
  }
}
