name: Build and test

on:
  push:
    branches: [main, master]
  pull_request:
    types: [opened, synchronize, reopened]
  release:
    types: [created]

jobs:
  tests:
    name: Run tests
    uses: monicahq/workflows/.github/workflows/laravel.yml@v1
    with:
      php-versions: "['8.1', '8.2']"
      connections: "['sqlite', 'mysql']"
      default-php-version: '8.2'
      default-connection: sqlite
      project: monicahq_marketing_site
      database_name: version
      vite: false
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
